.login-body{
	height: 100%;
	width: 100%;
	/*background-image: url("/img/background/default.jpg");*/
	content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
}

.login-modal{
	margin-top: 150px;
}

.panel-danger .panel-heading.login-header{
	background-image: none;
	background-color: black;
	color: #ffffff;
}

.login-link:hover{
	color: green;
}